CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
.ninja_deps
.ninja_log
build.ninja
*.exe
raycast3d\build\.cmake\api\v1

CTestTestfile.cmake
_deps
